{% extends "base.html" %}

{% block announce %}
<strong>新文章</strong>
<a href="/essays/2026/Answer-is-not-in-the-book/">
  <strong>《不要试图在书里找答案》</strong>
  -
  如果一本书最后什么都没有教会我，却让我带着一个问题思考了很多天，甚至很多年，那它已经完成了自己的使命。至于答案...
</a>
{% endblock %}

{% block htmltitle %}
  {% if page.meta and page.meta.title %}
    <title>{{ page.meta.title }}</title>
  {% elif page.title and not page.is_homepage %}
    <title>{{ page.title | striptags }}</title>
  {% else %}
    <title>{{ config.site_name }}</title>
  {% endif %}
{% endblock %}

{% block extrahead %}
  {{ super() }}

  <meta name="blogsclub-verify" content="2add1d537e9341e19060c2423286d265"/>
  <link rel="prefetch" as="image" href="https://www.blogsclub.org/badge/liwanr.com"/>
  
  <link rel="webmention" href="https://webmention.io/liwanr.com/webmention"/>
  <link rel="pingback" href="https://webmention.io/liwanr.com/xmlrpc"/>

  <link rel="authorization_endpoint" href="https://indieauth.com/auth">
  <link rel="token_endpoint" href="https://tokens.indieauth.com/token">

{% endblock %}