{% extends "base.html" %}

{% block announce %}
<strong>新文章</strong>
<a href="/essays/2026/birthday/">
  <strong>《九五至会》</strong>
  -
  假生辰之名，与友人自四方而至，庆我等犹在，庆未曾相散。
</a>
{% endblock %}

{% block htmltitle %}
  {% if page.meta and page.meta.title %}
    <title>{{ page.meta.title }}</title>
  {% elif page.title and not page.is_homepage %}
    <title>{{ page.title | striptags }}</title>
  {% else %}
    <title>{{ config.site_name }}</title>
  {% endif %}
{% endblock %}

{% block extrahead %}
  {{ super() }}

  <meta name="blogsclub-verify" content="2add1d537e9341e19060c2423286d265"/>
  <link rel="prefetch" as="image" href="https://www.blogsclub.org/badge/liwanr.com"/>
  
  <link rel="webmention" href="https://webmention.io/liwanr.com/webmention"/>
  <link rel="pingback" href="https://webmention.io/liwanr.com/xmlrpc"/>

  <link rel="authorization_endpoint" href="https://indieauth.com/auth">
  <link rel="token_endpoint" href="https://tokens.indieauth.com/token">

{% endblock %}