# ---------------------------
# 指定文件语言
# ---------------------------

# JavaScript
*.js linguist-language=JavaScript

# CSS
*.css linguist-language=CSS

# Markdown
*.md linguist-language=Markdown

# HTML
*.html linguist-language=HTML

# ---------------------------
# 不忽略自定义目录
# ---------------------------
base/* linguist-vendored=false
docs/* linguist-vendored=false
includes/* linguist-vendored=false
overrides/* linguist-vendored=false

# ---------------------------
# 忽略生成文件 / CI 文件
# ---------------------------
.github/workflows/* linguist-generated=true
