@media screen and (min-width: 45em) {
    .md-social {
        padding: 0;
    }
}

.md-social,
.md-copyright,
.md-footer-meta__inner {
    padding: 0;
}

/* small */
small {
    font-feature-settings: 'ss04' off;
}

/* 复制title */
.md-dialog {
    backdrop-filter: blur(.4rem);
    background-color: var(--md-default-bg-color--light);
    border-radius: 1.6rem;
    box-shadow: var(--md-shadow-z2);
}

.md-dialog__inner {
    color: var(--md-default-fg-color--light);
    font-size: .7rem;
}

/* 页面最大宽度 */
/* .md-grid {
    max-width: 1440px; 
} */

/* 字体 */
@font-face {
    font-family: "MiSansVF";
    src: url("../fonts/MiSansVF.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

:root {
    --md-text-font: "MiSansVF";
}

/* 二级无序嵌套列表为空心圆 */
.md-typeset ul ul {
    list-style-type: circle;
}

/* 题注的字体比例 */
figcaption {
    font-size: 80%;
}

/* 图标位置的调整，尽量保证水平居中 */
.md-typeset h2 .twemoji {
    margin-top: 2.7px;
}

/* 图标大小 */
.md-typeset .emojione, .md-typeset .gemoji, .md-typeset .twemoji {
    --md-icon-size: 1.22em;
}

/* 底部那一条改改样式，尺寸小的时候只显示快捷图标并居中 */
@media (max-width: 750px) {
    .md-social {
        padding: 0;
    }

    .md-copyright__highlight {
        display: none;
    }

    .md-grid {
        align-items: center;
        justify-content: center;
        height: 100%;
    }
}

.no-color{
    color: var(--md-default-fg-color) !important;
}