.md-typeset h1,
.md-content__button {
    font-size: 0px;
    color: rgb(0,0,0,0);
    line-height: 0;
    margin: 0 0 0 0;
}

.md-content__inner{
    padding-top: 0em;
}

.md-content{
    margin-top: 0px;
} 
.md-typeset .twemoji svg {
    margin-top: 4px;
}