/* 链接的下划线只有鼠标移入才缓慢出现 */
.md-typeset a{
  text-decoration: underline;
  text-decoration-color: transparent;
}

.md-typeset a:not(.md-button):not(>label):not(.headerlink):not(.badge):hover {
  text-decoration-color: currentColor;
}

/* :not(.md-button):not(.headerlink):not(.badge)  */