.md-typeset .step > ol {
    counter-reset: item;
}

.md-typeset .step > ol > li {
    position: relative;
    padding-left: 1em;
    list-style: none;
}

.md-typeset .step > ol > li::before {
    position: absolute;
    top: .9px;
    left: -1px;
    z-index: -1;
    display: block;
    width: 1.9em;
    height: 1.9em;
    margin-left: -1.25em;
    color: var(--md-default-fg-color);
    font-weight: 600;
    font-size: 0.9em;
    text-align: center;
    background-color: var(--md-code-bg-color);
    border: 1px solid var(--md-default-fg-color);
    border-radius: 100px;
    content: counter(item);
    counter-increment: item;
}

.md-typeset .step > ol > li::after {
    position: absolute;
    top: 6px;
    bottom: 1px;
    left: -0.36em;
    display: block;
    width: 1px;
    margin-top: 2em;
    border-left: 1px solid hsla(0, 0%, 75%, 1);
    content: "";
    border-radius: 50px;
}