.md-typeset .md-typeset__table { display: block; width: 100% }

.md-typeset table:not([class]) { --tbl-line: color-mix(in srgb, var(--md-default-fg-color) 10%, transparent); display: table; width: 100%; table-layout: auto; background: none; border: none; border-radius: 0 }

.md-typeset table:not([class]) :is(th, td) { border: none; vertical-align: middle }

.md-typeset table:not([class]) th { border-top: .1rem solid var(--tbl-line); border-bottom: .1rem solid var(--tbl-line) }

.md-typeset table:not([class]) tbody tr:last-child td { border-bottom: .0625rem solid var(--tbl-line) }

.md-typeset table:not([class]) tbody tr:nth-child(n) { background-color: transparent; box-shadow: none; transition: background-color .125s }
.md-typeset table:not([class]) tbody tr:nth-child(n):hover { background-color: var(--md-default-fg-color--lightest) }

.md-typeset .tabbed-control button:hover { color: var(--md-default-bg-color); background: var(--md-accent-fg-color) }
.js .md-typeset .tabbed-labels::before { background-color: var(--md-accent-fg-color) }
.md-typeset .tabbed-alternate.tabbed-set .tabbed-control { width: 2rem }
.md-typeset .tabbed-alternate.tabbed-set .tabbed-control[hidden] { width: 1.2rem; opacity: 0 }

.md-typeset .tabbed-alternate.tabbed-set > .tabbed-content > .tabbed-block { padding: 0 .6rem }
.md-typeset .tabbed-alternate.tabbed-set > .tabbed-content > .tabbed-block > :is(pre, .codehilite, .codehilitetable, .highlight, .highlighttable):first-child { margin-top: .9375em }
.md-typeset .tabbed-alternate.tabbed-set > .tabbed-content > .tabbed-block > :is(pre, .codehilite, .codehilitetable, .highlight, .highlighttable):first-child code { border-top-left-radius: .48rem; border-top-right-radius: .48rem }

.md-typeset .tabbed-alternate.tabbed-set > .tabbed-content > .tabbed-block > :is(pre, .codehilite, .codehilitetable, .highlight, .highlighttable, .collapse-code, diagram-div):only-child { margin-inline: -1.2rem; padding-inline: .6rem }
.md-typeset .tabbed-alternate.tabbed-set > .tabbed-content > .tabbed-block > :is(pre, .codehilite, .codehilitetable, .highlight, .highlighttable, .collapse-code):only-child { margin-top: 0 }
.md-typeset .tabbed-alternate.tabbed-set > .tabbed-content > .tabbed-block > :is(pre, .codehilite, .codehilitetable, .highlight, .highlighttable, .collapse-code):only-child code { border-top-left-radius: 0; border-top-right-radius: 0 }
.md-typeset .tabbed-alternate.tabbed-set > .tabbed-content > .tabbed-block > :is(pre, .codehilite, .codehilitetable, .highlight, .highlighttable):only-child span.filename { margin-top: 0 }

@media screen and (max-width: 44.9375em) {
    [dir=ltr] .md-content__inner > .tabbed-set .tabbed-labels,
    .md-content__inner > .tabbed-set .tabbed-labels { max-width: 100%; margin: 0; padding-left: 0; padding-inline-start: 0; scroll-padding-inline-start: 0 }
    .md-content__inner > .tabbed-set .tabbed-labels::after { padding-inline-end: 0; content: none }
    .md-content__inner > .tabbed-set .tabbed-labels ~ :is(.tabbed-control--prev, .tabbed-control--next) { margin-inline: 0; padding-inline: 0 }
}
